@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror {
  @apply prose prose-p:m-0 prose-headings:m-0 prose-ol:m-0 prose-ul:m-0 prose-li:m-0 prose-pre:m-0;
  @apply prose-blockquote:m-0 prose-code:m-0 prose-table:m-0;
  @apply px-1 max-w-full h-screen;
  @apply outline-none overflow-x-hidden;
  table {
    @apply table-fixed w-full;
  }
  tr {
    @apply border-b border-base-200;
  }

  ul[data-type="taskList"] {
    list-style: none;
    padding: 0;

    p {
      margin: 0;
    }

    li {
      display: flex;

      > label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        user-select: none;
      }

      > div {
        flex: 1 1 auto;
      }
    }
  }

  .selectedCell {
    @apply relative;
  }

  .selectedCell:after {
    @apply bg-base-300 bg-opacity-75;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    position: absolute;
    z-index: 2;
  }
}

.emoji {
  @apply m-0;
}

.ProseMirror p.is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
